# --- cyberBOT CONFIGURATION ---
DISCORD_TOKEN=your_token_here
CLIENT_ID=your_bot_client_id_here
GUILD_ID=your_server_id_here
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/dbname
RENDER_URL=https://your-app-name.onrender.com # Optional: For keep-alive on free tiers
